<div class="b-left-menu">
    <ul>
        <li {% if get_controller_name() == 'expense' %}class="active"{% endif %}>
            <a href="{{ path('expense') }}"><p>Затраты</p></a>
        </li>
    </ul>
</div>