{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Equipment.html.twig') }}
{% endblock %}

{% block body -%}

<div class="b-form-area">
    <div class="b-form-title"><p>{% trans %}Equipment creation{% endtrans %}</p><hr/></div>
        {{ form(form) }}
    <hr/>
     <ul class="record_actions_in_form">
         <li>
             <a href="{{ path('equipment') }}">
                 {% trans %}Back to the list{% endtrans %}
             </a>
         </li>
     </ul>
</div>
{% endblock %}
