security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
#        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        dev:
          pattern:  ^/(_(profiler|wdt)|css|images|js)/
          security: false
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
            logout:       true
            anonymous:    true

    access_control:
        - { path: ^/login$,                 role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register,               role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting,              role: IS_AUTHENTICATED_ANONYMOUSLY }

        - { path: ^/user,                   role: ROLE_ADMIN }
        - { path: ^/enterprise,             role: ROLE_ADMIN }
        - { path: ^/profession,             role: ROLE_ADMIN }
        - { path: ^/subdivision,            role: ROLE_ADMIN }
        - { path: ^/professionkind,         role: ROLE_ADMIN }
        - { path: ^/medicalkind,            role: ROLE_ADMIN }
        - { path: ^/medicaltype,            role: ROLE_ADMIN }
        - { path: ^/traumakind,             role: ROLE_ADMIN }
        - { path: ^/traumacause,            role: ROLE_ADMIN }
        - { path: ^/equipmentgroup,         role: ROLE_ADMIN }
        - { path: ^/equipmentsubgroup,      role: ROLE_ADMIN }

        - { path: ^/,                       role: ROLE_USER }