<div class="b-left-menu">
    <ul>
        {% for entity in CategoryReportEntities %}
            <li {% if entity.id == current %}class="active"{% endif %}>
                <a href="{{ path('MainBundle_reports', {'Categoryid': entity.id}) }}"><p>{{ entity.name }}</p></a>
            </li>
        {% endfor %}
    </ul>
</div>