{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Administration.html.twig') }}
{% endblock %}

{% block body -%}
<div class="b-form-area">
    <div class="b-form-title"><p>{% trans %}Equipmentgroup creation{% endtrans %}</p><hr/></div>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('equipmentgroup') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
</ul>
    </div>
{% endblock %}
