body {
	background: url('../images/body-bg.png');
}

label {
    font-weight: normal !important;
}

label.required:after {
    content: " *";
    color: #ff6f6f;
}

#b-wrapper {
	width: 1000px;
	margin: -40px auto 0 auto;
	background: url('../images/wrapper-bg.png') no-repeat 50% 232px;
}

.b-line-top {
	background: url('../images/top-line-bg.jpg') repeat-x;
}
.b-line-wrap {
	background: url('../images/body-bg.png');
}
.b-line-top, .b-line-wrap {
	width: 100%;
	height: 40px;
}

.l-line-wrap-l{
	float: left;
}
.l-line-wrap-r{
	float: right;
	text-align: right;
}
.l-line-wrap-r p{
	color: #ffffff;
	line-height: 39px;
}

.l-line-wrap-r p a {
	color: #ffffff;
	text-decoration: underline;
}
.l-line-wrap-l .bd-line, .l-line-wrap-r .bd-line {
	height: 40px;
	width: 4px;
	position: absolute;
}
.l-line-wrap-l .bd-line {
	background: url('../images/wrap-line-l.png') no-repeat;
	right: -4px;
}
.l-line-wrap-r .bd-line {
	background: url('../images/wrap-line-r.png') no-repeat;
	left: -4px;
}

.l-line-wrap-l, .l-line-wrap-r {
	background: url('../images/top-line-bg.jpg') repeat-x;
	width: 440px;
	height: 40px;
	position: relative;
}

.b-logo {
	float: left;
	margin-left: 4px;
	width: 112px;
	text-align: center;
	padding-top: 3px;
}

h1.l-title {
	text-align: center;
	font-size: 16px;
	margin-top: 8px;
	font-weight: bold;
}

h1 {
	margin: 10px 0;
}

ul#b-top-menu {
	list-style-type: none;
	margin: 10px 0 14px 0;
	display: inline-block;
}

ul#b-top-menu li {
	float: left;
	background: url('../images/bg-menu-item-spr.jpg') repeat-x 0px -46px;
	height: 43px; width: 193px;
	margin-right: 5px;
	border: 1px solid #21759b;
	border-radius: 3px;
	text-align: center;
}

ul.element4 li {
	width: 242px !important;
}

ul#b-top-menu li.active {
	background: url('../images/bg-menu-item-spr.jpg') repeat-x 0px -1px;
	border: 1px solid #7e7e7e;
}
ul#b-top-menu li:hover {
	background: url('../images/bg-menu-item-spr.jpg') repeat-x 0px -91px;
	border: 1px solid #7e7e7e;
}
ul#b-top-menu li:active {
	background: url('../images/bg-menu-item-spr.jpg') repeat-x 0px -136px;
	border: 1px solid #7e7e7e;
}
ul#b-top-menu li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 43px;
}

div.b-left-menu {
	width: 210px;
	display: table-cell;
	padding-right: 5px;
}
div.b-left-menu ul {
	list-style-type: none;
}
div.b-left-menu ul li:first-child {
	border-radius: 5px 5px 0 0;
}
div.b-left-menu ul li:last-child {
	border-radius: 0 0 5px 5px;
}
div.b-left-menu ul li {
	width: 196px; height: 33px;
	background: #e6e6e6;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #d6d6d6;
	position: relative;
}
div.b-left-menu ul li a {
	text-decoration: none;
	line-height: 28px;
}
div.b-left-menu ul li a:hover p, div.b-left-menu ul li.active a p {
	background: url('../images/left-menu-hover.png') no-repeat;
	color: #ffffff;
    width: 204px;
}
div.b-left-menu ul li a:hover {
	color: #ffffff;
}

div.b-left-menu ul li a:hover p {
	background: url('../images/left-menu-hover.png') no-repeat;
}
div.b-left-menu ul li a p {
	padding-left: 23px;
	height: 29px;
	position: absolute;
	top: 3px;
}

div#b-content-werapper {
	min-height: 560px;
}

div#b-content {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	background-color: #ffffff;
	border-radius: 4px;
    padding: 15px 10px;
}

div#b-footer {
	height: 50px;
	width: 100%;
}

div#b-footer a {
	text-decoration: underline;
}

div#b-footer a, div#b-footer p {
	color: #6b6b6b;
}

div.b-footer-left {
	float: left;
	margin-top: 22px;
}

div.b-footer-right {
	float: right;
	margin-top: 22px;
}

div.b-login {
	width: 365px;
	background-color: #e6e6e6;
	border-right: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	border-radius: 0 5px 5px 5px;
	margin: 150px 0 0 312px;
}
div.b-login h2 {
	background: url('../images/login-head.jpg') repeat-x;
	height: 38px;
	border-radius: 5px 5px 0 0;
	color: #ffffff;
	font-size: 23px;
	line-height: 37px;
	padding-left: 25px;
}

div.b-login-form {}

.ot_filter_form {
	margin: 10px 0;
}

.ot_filter_form label {
	margin: 10px 10px 10px 20px;
	display: inline-block;
}

.ot_filter_form input {
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: 22px;
	width: 200px;
	padding-left: 10px;
	color: #212121;
}

.ot_filter_form input[type="submit"] {
	margin-top: 10px;
	height: 26px;
}

#ot_filter_apply {
	background: url('../images/submit-btn-bg-blue.png') repeat-x;
	color: #ffffff;
	cursor: pointer;
}

#ot_filter_clear {
	cursor: pointer;
}

a#add-record {
	background: url('../images/submit-btn-bg-blue.png') repeat-x;
	color: #ffffff;
	padding: 5px 16px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: 28px;
	text-decoration: none;
	float: right;
	margin: 5px;
}

#b-content h1 {
	display: inline-block;
}

div.b-input {
	border-bottom: 1px solid #cccccc;
	padding: 10px 0 0 25px;
}
div.b-login-form input[type="text"], div.b-login-form input[type="password"] {
	border: 1px solid #cccccc;
	border-left: none;
	border-radius: 0 3px 3px 0;
	height: 26px; width: 280px;
	padding-left: 10px;
	color: #212121;
}
div.b-login-form div.email-label, div.b-login-form div.password-label {
	height: 30px; width: 30px;
	padding-left: 30px;
}
div.b-login-form div.email-label {
	background: url('../images/login-label.png') no-repeat;
	margin: 10px 0 7px 0;
}
div.b-login-form div.password-label {
	background: url('../images/pass-label.png') no-repeat;
	margin-bottom: 14px;
}

div.b-submit {
	padding: 18px 0 0 25px;
	position: relative;
	border-top: 1px solid #ffffff;
	height: 34px;
}

label.checkbox-label {
	font-size: 11px;
}

div.b-login-form div.el-submit {
	position: absolute;
	right: 10px; top: 10px;
}

div.b-controls {
    margin-bottom: 5px;
}

div.el-submit {
    height: 28px;
    float: left;
    margin: 10px;
}

div.el-submit em {
	width: 4px; height: 30px;
	background: url('../images/submit-btn-l.png') no-repeat top;
	float: left;
}
div.el-submit input, div.el-submit button {
	border: none; height: 28px;
	background: url('../images/submit-btn-bg-blue.png') repeat-x;
	font-size: 14px; color: #ffffff;
	float: left; cursor: pointer;
	margin: 0 10px 0 0; padding: 0 16px;
	min-width: 97px;
	border-radius: 3px;
    color: white;
}
div.el-submit button a{
    color: white;
    text-decoration: none;
}
div.el-submit b{
	width: 4px; height: 30px;
	background: url('../images/submit-btn-r.png') no-repeat;
	float: left;
}

table.records_list {
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	width: 100%;
	border-spacing: 0; /*Отступы между границами ячеек*/
	border-collapse: separate; /*Границы ячеек не склеиваются*/
	-webkit-border-radius: 5px; /*Радиус скругления углов у таблицы Safari, Chrome*/
	-moz-border-radius: 5px; /*Радиус скругления углов у таблицы Mozilla*/
	border-radius: 5px; /*Радиус скругления углов у таблицы*/
}

table.records_list thead tr:first-child th:first-child { /*Первая строка первая ячейка в заголовке таблицы*/
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	width: 30px;
	text-align: center;
}

table.records_list thead tr:first-child th:last-child { /*Первая строка последняя ячейка в заголовке таблицы*/
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
	width: 60px;
}

table.records_list tbody tr:last-child td:first-child  /*Последняя строка первая ячейка в теле таблицы*/ {
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

table.records_list tbody tr td:first-child {
	width: 30px;
	text-align: center;
}

table.records_list tbody tr:last-child td:last-child  /*Последняя строка последняя ячейка в теле таблицы*/{
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

table.records_list tbody tr td:last-child {
	width: 60px;
}

table.records_list tr th {
	font-weight: bold;
}

table.records_list tr th, table.records_list tr td {
	border-top: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	vertical-align: middle;
	padding: 5px 5px;
	font-size: 12px;
}

table.records_list tr th {
	background: url('../images/tbl-th.jpg') repeat-x bottom;
	height: 32px;
}

table.records_list tr.row_even {
	background-color: #ffffff;
}
table.records_list tr.row_odd {
	background-color: #f6f6f6;
}
table.records_list tbody tr:hover {
	background-color: #e4daf8;
}

div.b-form-area {
	background-color: #f1f1f1;
	border-radius: 0 4px 4px 4px;
	/*width: 725px;*/
	margin: 0 auto;
	position: relative;
	margin-top: 33px;
	padding-top: 10px;
}

div.b-form-area div.b-form-title {
	position: absolute;
	top: -35px; left: 0;
	border-radius: 4px  4px 0 0;
	background-color: #f1f1f1;
}

div.b-form-area div.b-form-title p {
	margin: 2px 14px 0px 14px;
	line-height: 31px;
	font-size: 15px;
	font-weight: bold;
}

div.b-form-area div.b-form-title hr {
	margin: 0;
}

div.b-form-area table tr td {
	padding: 4px 4px;
	vertical-align: middle;
}

div.b-form-area table tr td:first-child {
	text-align: right;
}

div.b-form-area form input[type="text"],
div.b-form-area form input[type="number"],
div.b-form-area form input[type="password"],
div.b-form-area form input[type="email"] {
	width: 420px; height: 28px;
	border-radius: 4px;
	border: 1px solid #cccccc !important;
	padding-left: 8px;
}

div.b-form-area form select {
	/*max-width: 420px;
	height: 28px;*/
	border-radius: 4px;
	border: 1px solid #cccccc !important;
}

div.b-form-area form select {
    height: 28px;
}

div.b-form-area form select[multiple="multiple"] {
    min-height: 150px;
}

div.b-form-area form select[multiple="multiple"], div.b-form-area form select {
	width: 420px;

}

div.b-form-area hr {
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #ffffff;
	border-left: none; border-right: none;
}

div.b-breadcrumbs {
	width: 100%;
	height: 35px;
}

table.record_properties {
	border: 1px solid #c5c5c5;
	width: 100%;
	border-spacing: 0; /*Отступы между границами ячеек*/
	border-collapse: separate; /*Границы ячеек не склеиваются*/
	-webkit-border-radius: 5px; /*Радиус скругления углов у таблицы Safari, Chrome*/
	-moz-border-radius: 5px; /*Радиус скругления углов у таблицы Mozilla*/
	border-radius: 5px; /*Радиус скругления углов у таблицы*/
	background-color: #f1f1f1;
}

table.record_properties {
	font-size: 13px;
}

table.record_properties tr th {
	font-weight: bold;
	width: 200px;
}

table.record_properties tr:first-child th:first-child { /*Первая строка первая ячейка в заголовке таблицы*/
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

table.record_properties tr:first-child td:last-child { /*Первая строка последняя ячейка в заголовке таблицы*/
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

table.record_properties tr:last-child th:first-child  /*Последняя строка первая ячейка в теле таблицы*/ {
	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

table.record_properties tr:last-child td:last-child  /*Последняя строка последняя ячейка в теле таблицы*/{
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

table.record_properties tr th, table.record_properties tr td {
	padding: 5px;
}

table.record_properties tr.row_even {
	background-color: #ffffff;
}
table.record_properties tr.row_odd {
	background-color: #f6f6f6;
}
table.record_properties tr:hover {
	background-color: #e4daf8;
}

ul.record_actions {
	margin-top: 10px;
}

ul.record_actions_in_form {
	position: absolute;
	bottom: 4px;
	left: 114px;
}

ul.record_actions li, ul.record_actions_in_form li {
	float: left;
	margin-right: 5px;
}

ul.record_actions li a, ul.record_actions_in_form li a {
	background: url('../images/submit-btn-bg-blue.png') repeat-x;
	color: #ffffff;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-radius: 5px;
	padding: 0 5px;
}

ul.record_actions li a:hover, ul.record_actions_in_form li a:hover {
	text-decoration: none;
}

table#form td{
	padding: 0;
}

.navigation {
	margin: 20px auto;
	font-family: "Times New Roman";
	font-size: 15px;
	font-weight: bold;
	color: deepskyblue;
	max-width: 250px;
}

.navigation .page, .navigation .current, .navigation .first, .navigation .last, .navigation .next, .navigation .previous {
	background: buttonface;
	padding: 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	text-decoration: none;
}

.navigation .page a, .navigation .first a, .navigation .last a, .navigation .next a, .navigation .previous a {
	color: #000000;
}

.navigation .current {
	background-color: #31a4d7;
	color: #ffffff;
	padding: 5px;
}

.navigation span {
	margin: 0 2px;
}

#medicalkind_filter_subdivision {
	min-width: 200px;
}

#medicalkind_filter_datetrauma tr, #medicalkind_filter_dateplan tr, #medicalkind_filter_datefact tr {
	display: inline-block;
}

/*#medicalkind_filter_datetrauma input, #medicalkind_filter_dateplan input, #medicalkind_filter_datefact input {*/
	/*margin-top: 5px;*/
/*}*/

a.show-action, a.edit-action, a.print-action {
	width: 15px; height: 15px;
	display: block;
	float: left;
	margin-left: 11px;
}

a.show-action {
	background: url('../images/glyphicons_black.png') no-repeat -49px 1px;
}

a.print-action {
	background: url('../images/glyphicons_black.png') no-repeat -95px -47px;
	margin-left: 23px !important;
}

a.edit-action {
	background: url('../images/glyphicons_black.png') no-repeat -1px -72px;
}

ul.button-list {
	position: absolute;
}

ul.button-list li {
	float: none;
	display: none;
	margin-bottom: 1px;
}

ul.button-list li a {
	/*background: url('../images/a-button-bd.jpg') repeat-x 0px -28px;*/
	background: url('../images/submit-btn-bg-white.png') repeat-x;
	color: #212121;
	width: 190px;
}

ul.button-list li.b-list-first-child {
	display: block;
}

ul.button-list li.b-list-first-child a p {
	background: url('../images/glyphicons_black.png') no-repeat -312px -112px;
	width: 16px; height: 25px;
	display: inline-block;
	float: right;
}

ul.button-list li.b-list-first-child a.opened p {
	background: url('../images/glyphicons_black.png') no-repeat -287px -112px;
}

input.date-input {
	width: 260px !important;
}

div.b-date {
	position: relative;
	display: inline-block;
}

div.dp-img {
	display: inline-block;
	width: 15px; height: 15px;
	background: url('../images/glyphicons_black.png') no-repeat -190px -119px;
	position: absolute;
	right: 7px;	top: 6px;
	cursor: pointer;
}

ul.b-error li {
	color: red;
}

.select2-container {
    width: 270px;
}

.form-group {
    padding-bottom: 5px !important;
    margin-bottom: 5px !important;
    border-bottom: 1px solid #ffffff;
}