<br />
<form class="ot_filter_form" method="get" action=".">
	{{ form_rest(form) }}
	<br />
	<input type="submit" id="ot_filter_apply" name="submit-filter" value="Применить фильтр" />
	<input type="submit" id="ot_filter_clear" name="submit-filter" value="Сбросить фильтр" onclick="filterClear();" />
</form>
<hr />
<br />